body{
    background: linear-gradient(45deg,#01454a, #01454a, #01454a, #1DA8B1, #01454a, #01454a, #01454a);
    background-size: 400%;
    animation: glowing 30s linear infinite;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 400% 0; }
}

.noselect {
    display: flex;
    margin: -1% auto 2% auto;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    color: #585858;
    font-family: 'Roboto', sans-serif;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black,
    -5px -5px 0 black,
    -5px 5px 0 black,
    5px -5px 0 black;
    transition: 500ms ease-in-out;
}

button:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
    outline: none;
}

#myCarousel{
    width: 70%;
    height: 20%;
    position: relative;
    margin: 3% auto 3% auto;
}



