@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import "../../Style/headerAndFooter.css";

* {
    margin: 0
}

body {
    background: linear-gradient(45deg, #01454a, #01454a, #01454a, #1DA8B1, #01454a, #01454a, #01454a);
    background-size: 400%;
    animation: glowing 30s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 200% 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.separationHaut {
    background: linear-gradient(black, #7a5b1b, #CD9734, #7a5b1b);
    height: 10px;
}

.separationBas {
    background: linear-gradient(#7a5b1b, #CD9734, black);
    height: 10px;
}

.noselect {
    display: flex;
    margin: -1% auto 2% auto;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    color: #585858;
    font-family: 'Roboto', sans-serif;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black,
    -5px -5px 0 black,
    -5px 5px 0 black,
    5px -5px 0 black;
    transition: 500ms ease-in-out;
}

button:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
    outline: none;
}

#myCarousel {
    width: 70%;
    height: 70%;
    position: relative;
    margin: 3% auto 3% auto;
}

.carousel {
    position: relative
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block
}

.carousel-item-next, .carousel-item-prev {
    position: absolute;
    top: 0
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
    .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
    .active.carousel-item-right, .carousel-item-next {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}


@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
    .active.carousel-item-left, .carousel-item-prev {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity
}

.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
    opacity: 1
}

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
    opacity: 0
}

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-prev, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.w-100 {
    width: 100%;
}