@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

button {
    border-color: black;
}

.bandeau {
    display: flex;
    background: black;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 150px;
    background-color: black;
}

.bandeau .btn {
    font-family: Teko;
    font-size: 2em;
    background-color: #01454a;
    color: white;
    padding: 6px 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}
.bandeau .btn:hover {
    transition: color 0.3s ease-out 0.1s, transform 0.3s ease-in-out 0.1s;
    transform: scale(1.1);
    color: #CD9734
}
.bandeau .btn:not(:hover) {
    transition: color 0.3s ease-out, transform 0.3s ease-in-out;
    transform: scale(1);
    color: white
}

.separationHaut {
    background: linear-gradient(black, #7a5b1b, #CD9734, #7a5b1b);
    height: 25px;
}

.separation {
    background: linear-gradient(#7a5b1b, #CD9734, #7a5b1b);
    height: 25px;
}

.separationBas {
    background: linear-gradient(#7a5b1b, #CD9734, black);
    height: 25px;
}

.basDePage {
    background-color: black;
    height: 300px;
}

.container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 50px 0 50px 0;
    background: linear-gradient(45deg,#01454a, #01454a, #1DA8B1, #1DA8B1, #01454a, #01454a);
    background-size: 400%;
    animation: glowing 15s linear infinite;
}

/* Make the image responsive */
.container img {
    width: 60%;
    display: block;
    margin: auto;
    transition: transform 0.3s ease-in-out 0.1s;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Teko;
    z-index: 100;
    font-size: 4em;
    transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease-in-out 0.1s;
}

.btn:hover + .fond {
    transform: scale(1.1);
}

/*.btn:not(:hover) + .fond {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: scale(1);
}*/

.bandeau .btn:before {
    content: '';
    background: linear-gradient(45deg,#01454a, #01454a, #1DA8B1, #1DA8B1, #01454a, #01454a);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
}

.container .btn:hover {
    transition: color 0.3s ease-out 0.1s, transform 0.3s ease-in-out 0.1s;
    transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%);
    color: #CD9734
}

/*.container .btn:not(:hover) {
    transition: color 0.3s ease-out, transform 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%);
    color: white
}*/

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 400% 0; }
}

/*.container .btn:hover {*/
/*    transform: scale(1.1) translate(-45%, -45%);*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    transition: all 0.2s;*/
/*}*/













