@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import "fixedHeaderAndFooter.css";

* {
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(45deg,#01454a, #01454a, #01454a, #1DA8B1, #01454a, #01454a, #01454a);
    background-size: 400%;
    animation: glowing 30s linear infinite;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 400% 0; }
}

.separationHaut {
    background: linear-gradient(black, #7a5b1b, #CD9734, #7a5b1b);
    height: 10px;
}

.separation {
    background: linear-gradient(#7a5b1b, #CD9734, #7a5b1b);
    height: 10px;
    filter: blur(1px);
}

.separationBas {
    background: linear-gradient(#7a5b1b, #CD9734, black);
    height: 10px;
}

#glossaire{
    margin : 10% auto;
    justify-content: center;
    text-align: center;
    width: 80%;
    font-size: 2em;
    color: white;
}

h1{
    margin: 5% 0 5% -25%;
    width: 150%;
    background-color:  #CD9734;
}