@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import "fixedHeaderAndFooter.css";

* {
    box-sizing: revert;
}

body {
    background: linear-gradient(80deg, #01454a, #01454a, #01454a, #1DA8B1, #01454a, #01454a, #01454a);
    background-size: 400%;
    animation: glowing 30s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 200% 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.separationHaut {
    background: linear-gradient(black, #7a5b1b, #CD9734, #7a5b1b);
    height: 10px;
}

.separationBas {
    background: linear-gradient(#7a5b1b, #CD9734, black);
    height: 10px;
}


.listes {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.champion {
    border: #CD9734 solid 3px;
    border-radius: 2%;
    background-color: #CD9734;
    transition: transform 0.2s ease-in-out 0.05s;
}

.champion img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 2%;
}

.champion a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 2.5em;
    font-family: Teko;
    color: white;
    -webkit-text-stroke: 0.03em black;
    letter-spacing: 1px;
}

.champion:hover {
    transform: scale(1.1);
    box-shadow: #CD9734 0 0 10px;
}

@media (orientation: portrait) {
    body {
        background: linear-gradient(90deg, #01454a, #01454a, #1DA8B1, #01454a, #01454a);
        background-size: 400%;
        animation: glowing 30s linear infinite;
    }


    .champion a {
        font-size: 4em;
    }
}