@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');

@import "fixedHeaderAndFooter.css";

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(80deg, #01454a, #01454a, #01454a, #1DA8B1, #01454a, #01454a, #01454a);
    background-size: 400%;
    animation: glowing 30s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 200% 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.separationHaut {
    background: linear-gradient(black, #7a5b1b, #CD9734, #7a5b1b);
    height: 10px;
}

.separation {
    background: linear-gradient(#7a5b1b, #CD9734, #7a5b1b);
    height: 10px;
    filter: blur(1px);
}

.separationBas {
    background: linear-gradient(#7a5b1b, #CD9734, black);
    height: 10px;
}

.space {
    height: 100px;
}

.region {
    margin: 5em;
    font-size: 1.3em;
    text-align: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    color: #d0be95;
}

.region h1 {
    margin: 5% 0 2% 40%;
    background: linear-gradient(#7a5b1b, #CD9734, #7a5b1b);
    color: black;
    border-radius: 10px;
    width: 20%;
}

.region img {
    align-items: center;
}

@media (orientation: portrait) {
    body {
        background: linear-gradient(90deg, #01454a, #01454a, #1DA8B1, #01454a, #01454a);
        background-size: 400%;
        animation: glowing 30s linear infinite;
    }

    .region h1 {
        font-size: 3em;
        width: 40%;
        margin: 25% 0 2% 30%;
    }
}