@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@1,300&family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(45deg, #01454a, #01454a, #01454a, #1DA8B1, #01454a, #01454a, #01454a);
    background-size: 400%;
    animation: glowing 30s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 200% 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.separationHaut {
    background: linear-gradient(black, #7a5b1b, #CD9734, #7a5b1b);
    height: 10px;
}


.onglet {
    z-index: 1;
    font-size: 2em;
    display: flex;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    color: #ad7f2f;
}

.separationBas {
    background: linear-gradient(#7a5b1b, #CD9734, black);
    height: 10px;
}

/*A modifier pour Modal Histoire*/

.histoire {
    display: flex;
    margin: 5% auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Teko";
    color: #ffffff;
    font-size: 1em;
}

/*A modifier pour Modal Passif*/
#passif {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Teko";
    color: #ffffff;
    font-size: 1em;
}

#opentab1:checked ~ .tab-list .tab1 {
    margin-top: 40%;
    width: 700px;
    text-align: center;
    transform: translateX(0%);
    opacity: 1;
}

/*A modifier pour Modal A*/
#A {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Teko";
    color: #ffffff;
    font-size: 0.55em;
}

#opentab2:checked ~ .tab-list .tab2 {
    margin-top: 32%;
    width: 700px;
    text-align: center;
    transform: translateX(0%);
    opacity: 1;
}

/*A modifier pour Modal Z*/
#Z {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Teko";
    color: #ffffff;
    font-size: 1em;
}

#opentab3:checked ~ .tab-list .tab3 {
    margin-top: 32%;
    width: 700px;
    text-align: center;
    transform: translateX(0%);
    opacity: 1;
}

/*A modifier pour Modal E*/
#E {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Teko";
    color: #ffffff;
    font-size: 1em;
}

#opentab4:checked ~ .tab-list .tab4 {
    margin-top: 40%;
    width: 700px;
    text-align: center;
    transform: translateX(0%);
    opacity: 1;
}

/*A modifier pour Modal Ulti*/
#R {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Teko";
    color: #ffffff;
    font-size: 0.7em;
}

#opentab5:checked ~ .tab-list .tab5 {
    margin-top: 35%;
    width: 700px;
    text-align: center;
    transform: translateX(0%);
    opacity: 1;
}

/*A modifier pour Modal Gameplay*/
#ModGam {
    margin-top: 22%;
}

.gameplay {
    display: flex;
    margin: 2% auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Teko";
    color: #ffffff;
    font-size: 0.7em;
}

#visio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 2%;
    width: 70%;
}

#visio img {
    width: 50%;
}

#ModGraph .modal-content {
    margin-top: 50%;
}

.graphismes {

}

.wrapper {
    /* This part is important for centering the content */
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    /* End center */
}

.wrapper a {
    text-decoration: none;
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    font-size: 1.1em
}
.wrapper a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.wrapper a:hover::before {
    opacity: 0.5;
    transform: scale(1.5,1.5);
}
.wrapper a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgb(173, 127, 47);
    transform: scale(1.5,1.5);
}
.wrapper a:hover::after {
    opacity: 1;
    transform: scale(1.5,1.5);
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

#modal-tabbed {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    text-align: center;
    margin-top: 80%;
    position: relative;
    left: 0;
    right: 0;
    width: 800px;
    max-width: 80%;
    background: #002326;
    border-radius: 7px;
    border: 5px solid #ad7f2f;
    transform: translate(-50%, -200%);
    transition: all .01s ease-in-out;
    perspective: 1000;
    outline: 1px solid transparent;
    opacity: 0;
    padding: 1em 2em;
}


.modal:target .modal-content {
    transform: translate(0%, -50%);
    transition: all .01s ease-in-out;
    transition-delay: .2s;
    z-index: 9999;
    opacity: 1;
}

.modal-close {
    float: right;
    text-decoration: none;
    padding: 22px 22px;
    color: #424242;
    font-weight: 800;
    transition: all .5s ease-in-out;
    z-index: +1;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 0 4px 0 0;
}

.modal-close:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content h3 {
    padding: 20px;
    display: block;
    text-align: center;
    border: 5px solid #ad7f2f;
    text-transform: uppercase;
    background: rgb(29, 168, 177);
    color: #ffffff;
    border-radius: 4px 4px 0 0;
}

.modal-area {
    padding: 20px;
}

.modal-area input[type="radio"] {
    display: none;
}

.modal-area label {
    margin: 0 2% 0 3.5%;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    z-index: +2;
    background: #002326;
    color: #ad7f2f;
    transition: all .01s ease-in-out;
}

.modal-area input[type="radio"]:checked + label {
    background: #ad7f2f;
    border-radius: 7px;
}

.tab-list {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.tab-list:before {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.modal-tab {
    display: inline-block;
    width: 80%;
    transform: translateX(-150%);
    transition: all 300ms cubic-bezier(0, 0, .40, 1);
    opacity: 0;
    top: 0px;
    left: 12.5%;
    position: absolute;
    height: 150px;
    perspective: 1000;
}
