@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@1,300&family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.bandeau {
    display: flex;
    background: black;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.logoban {
    width: 200px;
}
.separationHaut {
    background: linear-gradient(black, #7a5b1b, #CD9734, #7a5b1b);
    height: 25px;
}
button {
    border-color: black;
    margin : 0 20px 0 30px;
    padding: 10px 20px;
}

button, button::after {
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #1DA8B1 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 60px;
    box-shadow: 6px 0px 0px #fff;
    outline: transparent;
    position: relative;
}

.bandeau .btn:before {
    content: '';
    background: linear-gradient(45deg,#01454a, #01454a, #1DA8B1, #1DA8B1, #01454a, #01454a);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
}

.bandeau .btn:hover {
    transition: color 0.3s ease-out, transform 0.3s ease-in-out 0.1s;
    transform: scale(1.1);
    color: #CD9734
}
.bandeau .btn:not(:hover) {
    transition: color 0.3s ease-out, transform 0.3s ease-in-out 0.1s;
    transform: scale(1);
    color: white
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 400% 0; }
}
.onglet a{
    text-decoration: none;
    margin-left: 65px;
}
.onglet{
    font-size: 1.5em;
    position: absolute;
    margin : 50px;
    margin-left: 27.5%;
    font-family: 'Bebas Neue', cursive;
}
div .histoire{
    margin: 0 auto;
    width: 600px;
}

.histoire{
    display: none;
    font-size: 1.8em;
    padding: 150px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.separationBas {
    background: linear-gradient(#7a5b1b, #CD9734, black);
    height: 25px;
}

.basDePage {
    background-color: black;
    height: 300px;
}