@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@1,300&family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.separationHaut {
    background: linear-gradient(black, #7a5b1b, #CD9734, #7a5b1b);
    height: 10px;
}

.separationBas {
    background: linear-gradient(#7a5b1b, #CD9734, black);
    height: 10px;
}

/*
button, button::after {
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #1DA8B1 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 60px;
    box-shadow: 6px 0px 0px #fff;
    outline: transparent;
    position: relative;
}

.bandeau .btn:before {
    content: '';
    background: linear-gradient(45deg,#01454a, #01454a, #1DA8B1, #1DA8B1, #01454a, #01454a);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
}
*/

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 400% 0; }
}
.onglet a{
    text-decoration: none;
    margin-left: 65px;
}
#hist:hover{
    text-shadow: 2px 2px 2px white;
}
#comp:hover{
    text-shadow: 2px 2px 2px white;
}
#game:hover{
    text-shadow: 2px 2px 2px white;
}
#graph:hover{
    text-shadow: 2px 2px 2px white;

}
.onglet{
    z-index: 4;
    font-size: 2em;
    position: absolute;
    margin : 125px;
    margin-left: 25%;
    font-family: 'Bebas Neue', cursive;
}

.fond{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 40%;
}
body{
    background-color: black;
}
.histoire{
    /*display: none;*/
    margin: -1550px auto 570px auto;
    width: 600px;
    font-size: 2em;
    padding: 150px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
}
#skill{
    display: none;
    /*display: flex;*/
    margin: -1450px auto 570px auto;
    justify-content: space-evenly;
    align-items: center;
}
#passif{
    display: none;
    /*display: flex;*/
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    margin: -550px auto 820px auto;
    width: 600px;
    padding: 150px;
    font-size: 2em;
}
#A{
    display: none;
    /*display: flex;*/
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    margin: -550px auto 100px auto;
    width: 700px;
    padding: 150px;
    font-size: 2em;
}
#Z{
    display: none;
    /*display: flex;*/
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    margin: -550px auto 625px auto;
    width: 600px;
    padding: 150px;
    font-size: 2em;
}
#E{
    display: none;
    /*display: flex;*/
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    margin: -550px auto 860px auto;
    width: 600px;
    padding: 150px;
    font-size: 2em;
}
#R{
    display: none;
    /*display: flex;*/
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    margin: -550px auto 550px auto;
    width: 650px;
    padding: 150px;
    font-size: 2em;
}
.gameplay{
    display: none;
    /*display: flex;*/
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    margin: -600px auto 625px auto;
    width: 800px;
    padding: 150px;
    font-size: 2em;
}
#visio{
    display: none;
    /*display: flex;*/
    margin : -675px auto 100px auto;
    justify-content: space-evenly;
    align-items: center;
}
.graphismes{
    display: none;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 400% 0; }
}